@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* 'Kumbh Sans' Font */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary */
    --DarkCyan: hsl(185, 75%, 39%);
    --VeryDarkDesaturatedBlue: hsl(229, 23%, 23%);
    --DarkGrayishBlue: hsl(227, 10%, 46%);

    /* Neutral */
    --DarkGray: hsl(0, 0%, 59%);

    --Namesize: 18px;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--DarkCyan);
    overflow: hidden;
}

.card-main {
    width: 420px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
    z-index: 1;
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
}
    .upper-profile, .middle-profile, .lower-profile {
        width: 100%;
        display: flex;
    }
    .upper-profile {
        flex: .2 0 auto;
    }

    .middle-profile {
        align-items: center;
        flex-direction: column;
        position: relative;
        flex: .8 0 auto;
        background-color: #fff;
    }
        .middle-profile img {
            position: absolute;
            top: -50px;
            border: 7px solid #fff;
            border-radius: 50%;
        }
        .profile-name {
            position: absolute;
            top: 50%;
        }

    .lower-profile {
        justify-content: space-around;
        align-items: center;
        flex: .4 0 auto;
        background-color: #fff;
        border-top: 1px solid hsla(227, 10%, 46%, 0.171);
    }
        .lower-profile div {
            flex: 1 0 auto;
            text-align: center;
        }

    /* Background Image */
.bg-img1 {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-35%, -45% );
}
    .bg-img1 > img {
        max-width: 100%;
    }
.bg-img2 {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(30%, 50% );
}
    .bg-img2 > img {
        max-width: 100%;
    }
